#media__info__panel {
  position: fixed;
  top: 40px;
  left: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 20px;
  border-radius: 10px;
  font-family: 'Helvetica', sans-serif;
  color: #fff;
  width: 300px;
  height: 150px;
  z-index: 1;
  transition: all 0.3s ease-in-out;
  transform: translateY(100px);
  opacity: 0;
}

#media__info__panel.show {
  transform: translateY(0);
  opacity: 1;
}

#media__info__panel h3 {
  margin: 0 0 10px 0;
  font-size: 2em;
  font-weight: bold;
  text-transform: uppercase;
}

#media__info__panel p {
  margin: 0;
  font-size: 1.2em;
}

#media__info__trigger {
  position: fixed;
  top: 30px;
  left: 50%;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px 15px;
  border-radius: 10px;
  font-family: 'Helvetica', sans-serif;
  color: #fff;
  width: fit-content;
  z-index: 1;
  transition: all 0.3s ease-in-out;
  transform: translate(-50%, 100px);
  opacity: 0;
}

#media__info__trigger.show {
  transform: translate(-50%, 0);
  opacity: 1;
}

#media__info__trigger h3 {
  margin: 0;
  font-size: 1em;
  font-weight: bold;
}
